@page "/identity"
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net.Http.Headers
@using webapp.Services

@inject IotService IotService


<h3>ClaimsPrincipal Data</h3>

<button @onclick="GetClaimsPrincipalData">Get ClaimsPrincipal Data</button>

<p>@authMessage</p>

@if (claims.Count() > 0)
{
    <ul>
        @foreach (var claim in claims)
        {
            <li>@claim.Type: @claim.Value</li>
        }
    </ul>
}

<div class="col-md-6 col-lg-4 p-3">
    <RadzenCard Style="overflow: scroll">
        <RadzenButton style="width: 160px" IsBusy=@busy BusyText="Loading ..." Click=@GetClaimsPrincipalData Text="Get Token" />
        <RadzenTextArea Disabled="true" @bind-Value=@token Cols="30" Rows="3" />
    </RadzenCard>
</div>

@code {
    private string authMessage = string.Empty;
    private string token = string.Empty;
    private IEnumerable<Claim> claims = Enumerable.Empty<Claim>();
    private bool busy = false;

    private async Task GetClaimsPrincipalData()
    {
        busy = true;

        token = await IotService.GetToken();

        if (string.IsNullOrEmpty(token))
        {
            token = "no token received in the request";
        }

        busy = false;
    }
}