@page "/"

@inject IUnauthApiService ApiService
@inject AuthenticationStateProvider AuthenticationStateProvider

@using Microsoft.AspNetCore.Components.Authorization
@using System.Globalization
@using System.Net
@using webapp.Contracts

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <h1>Welcome to my home project</h1>
        <span class="text-nowrap">
            For more info about this project, please visit
            <a target="_blank" class="font-weight-bold link-dark" href="https://github.com/jornpe/HomeProject">Home project github page</a>
        </span>
        <p hidden="@(!string.IsNullOrEmpty(temperature))">@defaultText</p>
        <p hidden="@string.IsNullOrEmpty(temperature)">The temp in my home office was <strong>@temperature°</strong> at <strong>@time</strong></p>
    </NotAuthorized>
    <Authorized>
        <Devices></Devices>
    </Authorized>
</AuthorizeView>


@code
{
    string temperature = string.Empty;
    DateTime time = DateTime.Now;
    string defaultText = "Loading home office temp...";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var json = await ApiService.GetOfficeTemp();

            if (json is null)
            {
                defaultText = "Could not get the temp for home office at this point.";
                return;
            }

            var jsonTemp = json?.RootElement.GetProperty("Temp").GetString();
            var jsonTime = json?.RootElement.GetProperty("Time").GetString();

            if (!string.IsNullOrEmpty(jsonTemp) && !string.IsNullOrEmpty(jsonTime))
            {
                temperature = jsonTemp;
                time = DateTimeOffset.FromUnixTimeSeconds(long.Parse(jsonTime)).DateTime;
            }
        }
        catch (HttpRequestException ex)
        {
            if (ex.StatusCode is HttpStatusCode.NotFound or HttpStatusCode.InternalServerError)
            {
                defaultText = "Could not get the temp for home office at this point.";
                return;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            defaultText = "Could not get the temp for home office at this point.";
            return;
        }
    }
}
