@page "/"

@inject IUnauthApiService ApiService
@inject AuthenticationStateProvider AuthenticationStateProvider

@using Microsoft.AspNetCore.Components.Authorization
@using System.Globalization
@using webapp.Contracts

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <h1>Welcome to my home project</h1>
        <span class="text-nowrap">
            For more info about this project, please visit
            <a target="_blank" class="font-weight-bold link-dark" href="https://github.com/jornpe/HomeProject">Home project github page</a>
        </span>
        <p hidden="@(!string.IsNullOrEmpty(temp))">Loading home office temp...</p>
        <p hidden="@string.IsNullOrEmpty(temp)">The temp in my home office was <strong>@temp°</strong> at <strong>@time</strong></p>
    </NotAuthorized>
    <Authorized>
        <Devices></Devices>
    </Authorized>
</AuthorizeView>


@code
{
    string temp = string.Empty;
    DateTime time = DateTime.Now;

    protected override async Task OnInitializedAsync()
    {
        var json = await ApiService.GetOfficeTemp();

        try
        {
            var jsonTemp = json?.RootElement.GetProperty("Temp").GetString();
            var jsonTime = json?.RootElement.GetProperty("Time").GetString();

            if (!string.IsNullOrEmpty(jsonTemp) && !string.IsNullOrEmpty(jsonTime))
            {
                temp = jsonTemp;
                time = DateTimeOffset.FromUnixTimeSeconds(long.Parse(jsonTime)).DateTime;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("Exception while trying to parse office temperature json object");
            Console.WriteLine(ex);
        }
    }
}
